@import "~bulma/sass/utilities/_all";

$primary: #424056;
$primary-invert: findColorInvert($primary);
$secondary: #FAB12D;
$secondary-invert: findColorInvert($secondary);

$colors: map-merge(
    $colors,
    (
        "primary": ($primary, $primary-invert),
        "secondary": ($secondary, $secondary-invert)
    )
);

// Navbar
$navbar-background-color: $secondary;
$navbar-item-color: $primary;
$navbar-height: 7rem;


// Footer
$footer-padding: 3rem 1.5rem 4rem;
$footer-background-color: $primary;

// Card
$card-background-color: $secondary;
